<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="appId" value="04e81357"/>
    <add key="appKey" value="f005be74d17ca53378516ce317f14f9a"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
